@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav d-flex justify-content-center">

        <li class="nav-item d-flex justify-content-center position-relative">
            <a class="nav-link position-absolute top-50" style="right: 15px;" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><i class="fs-5 bi-gear-fill pfr-param"></i></a>
            <img src="https://cdn-icons-png.flaticon.com/512/3135/3135823.png" alt="image profile" width="80" height="80" />
        </li>

        <li class="nav-item d-flex justify-content-center" style="font-size: 10px; cursor: default; padding-top:1em;">
            @User.Identity?.Name
        </li>
</ul>