@model AppProjetFilRouge.Data.Entities.Technology

@{
    ViewData["Title"] = "Details";
}

<h1>Detail du niveau</h1>

<hr />

<div class="pfr-gestionNavbar d-flex justify-content-center m-5 p-4">

    <dl class="row d-flex justify-content-center">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

</div>

<hr />

    <div class="pfr-gestionNavbar d-flex justify-content-center m-5 p-4">

            <div>
                <a asp-action="Edit" asp-route-id="@Model?.TechnologyId">Edit</a>
                <a asp-action="Index" class="btn btn-primary mt-3 text-white">Gestion de la technologie</a>
            </div>
    </div>
<hr />
