@model AppProjetFilRouge.Models.LevelViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Voulez-vous vraiment le supprimer le niveau ?</h1>

<hr />

<div class="pfr-gestionNavbar d-flex justify-content-center m-5 p-4">

    <dl class="row d-flex justify-content-center">
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

<hr />

    <div class="pfr-gestionNavbar d-flex justify-content-center m-5 p-4">

        <form asp-action="Delete">
            <input type="hidden" asp-for="LevelId" />
            <input type="submit" value="Delete" class="btn btn-danger mt-3 text-white" />
            <a asp-action="Index" class="btn btn-danger mt-3 text-white">Gestion d'un niveau</a>
        </form>

    </div>
</div>
<hr />
