@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Mot de passe oublié ?";
}


<div class="row">
    <div class="col-6 pfr-bg-login d-flex flex-column justify-content-center align-items-md-center">
        <h1>One more step!</h1>
        <img src="/img/resetpassword-bg.png" alt="" />
    </div>
    <div class="col-6 d-flex justify-content-center align-items-center">
        <section class="m-5">
            <h1>@ViewData["Title"]</h1>
            <h2>Entrez votre adresse e-mail.</h2>
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Réinitialiser votre mot de passe</button>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
