
@{
    Layout = "_LayoutQuiz";
}

<div class="m-5" style="max-width: 500px;">
    <img src="~/img/endquiz-img.png" alt="" width="400" />
    <div class="d-flex flex-column align-items-center">
    <h2>Le quiz est terminé !</h2>
    <p >Merci d'avoir effectué le quiz !<br/> 
     Un agent reviendra vers vous prochainement pour un entretien.</p>
        <p class="m-5" style="font-size:11px">Vous pouvez fermer la fenêtre.</p>
    </div>
</div>
