@model AppProjetFilRouge.Models.QuizzViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Création d'un Quiz</h1>

<hr />

<div class="row d-flex justify-content-center">
    <div class="col-md-4">

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group my-3">
                <label asp-for="Name" class="control-label fw-bold"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group my-3">
                <label asp-for="TechnologyId" class="control-label fw-bold"></label>
                <select asp-for="TechnologyId" class ="form-control" asp-items="ViewBag.TechnologyId"></select>
            </div>

            <div class="form-group my-3">
                <label asp-for="LevelId" class="control-label fw-bold"></label>
                <select asp-for="LevelId" class ="form-control" asp-items="ViewBag.LevelId"></select>
            </div>

            <hr />

            <div class="form-group my-3">
                <input type="submit" value="Ajouter" class="btn btn-primary mt-3 text-white"/>
                <a asp-action="Index" class="btn btn-primary mt-3 text-white">Gestion du Quiz</a>
            </div>

        </form>
    </div>
</div>
<hr />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
