@model AppProjetFilRouge.Models.QuizzViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edition du quiz</h1>

<hr />

<div class="row d-flex justify-content-center">
    <div class="col-md-4">

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="QuizId" />

            <div class="form-group my-3">
                <label asp-for="Name" class="control-label fw-bold"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group my-3">
                <label asp-for="TechnologyId" class="control-label fw-bold"></label>
                <select asp-for="TechnologyId" class="form-control" asp-items="ViewBag.TechnologyId"></select>
                <span asp-validation-for="TechnologyId" class="text-danger"></span>
            </div>

            <div class="form-group my-3">
                <label asp-for="LevelId" class="control-label fw-bold"></label>
                <select asp-for="LevelId" class="form-control" asp-items="ViewBag.LevelId"></select>
                <span asp-validation-for="LevelId" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <label asp-for="NbQuestions" class="control-label fw-bold"></label>
                <input asp-for="NbQuestions" type="number" min="10" max="30" step="10" class="form-control" />
                <span asp-validation-for="NbQuestions" class="text-danger"></span>
            </div>

             <hr />

            <div class="form-group my-3">
                <input type="submit" value="Sauvegarder" class="btn btn-primary mt-3 text-white" />
                <a asp-action="Index" class="btn btn-primary mt-3 text-white">Gestion du Quiz</a>
            </div>

        </form>
    </div>
</div>
<hr />



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
